{% load i18n %}<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% trans "Error 500" %} - {% trans "Error Interno del Servidor" %}</title>
    <meta name="robot" content="noindex, nofollow">
</head>
<body>

<h1>{{ SITE.name }}</h1>

<div class="error">
    <h2>{% trans "Error 500" %}, {% trans "Error Interno del Servidor" %}</h2>
    <p>{% trans "El servidor encontró un error interno o una configuración incorrecta y no pudo completar tu solicitud." %}.</p>
</div>

</body>
</html>